<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body style="background-color: #695548; color: white">
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div style="background-color: #b27551"; opacity=0.5; class="jumbotron text-center">
        <h1><b>Mission to Mars</h1></b>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button"><b>Scrape New Data</b></a></p>
      </div>

      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2><b>Latest Mars News</b></h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2><b>Featured Mars Image</h2></b>

          <!-- if images is False/None/non-existent, then default to error message -->
          <img
            src="{{mars.featured_image | default('static/images/error.png', true) }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>

        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h2><b>Mars Facts</h2></b>
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>

      <!-- Section for Mars Hemispheres -->
      <div class="row" id="mars-hemispheres">
        <div class="page-header">
          <h2 class="text-center"><b>Mars Hemispheres</b></h2>
        </div>

        {% for hemisphere in mars.hemispheres %}
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="...">
            <div class="caption">
              <h3 text-center>{{hemisphere.title}}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br>
    <div class="col-md-12 text-center">
      <div id="footer">Web App Resources
        <ul>
          <li style="display: inline;"><a href="https://redplanetscience.com">https://redplanetscience.com</a> |</li>
          <li style="display: inline;"><a href="https://spaceimages-mars.com">https://spaceimages-mars.com</a> |</li>
          <li style="display: inline;"><a href="https://galaxyfacts-mars.com">https://galaxyfacts-mars.com</a> |</li>
          <li style="display: inline;"><a href="https://marshemispheres.com">https://marshemispheres.com</a></li>
        </ul> 
      </div>
  </body>
</html>
